<!DOCTYPE html>
<html>
<head>
  <%- include('./template/head') %>
  <link rel='stylesheet' href='css/lotteryAndManagemanetPage.css'/>
</head>
<body>
  <nav class='navbar'>
    <%- include('./template/nav') %>
  </nav>

<div class='section__changed' style="background: url('<%=prize.photo_url%>.png')">
    <div class='content' id='content'>
      <div class='content__title'><%= prize.title  %> </div>
      <div class='bar'></div>
      <div class='content__text'><%= prize.content %></div>
      <form action='/lottery-pull'>
        <button class='button'>再抽一次</button>   
      </form>
    </div>
  </div>
  <footer class='footer'>
    <%- include('./template/footer') %>
  </footer>
</body>
</html>
