<!DOCTYPE html>

<html>
<head>
  <%- include('../template/head') %>
</head>

<body>
  <nav class="navbar">
    <%- include('../template/nav') %>
  </nav>
  <section class="banner">
    <%- include('../template/section')%>
  </section>
  <!-- 文章編輯區 -->
  <div class="container-wrapper">
    <div class="container">
      <div class="edit-post">
          <form action="/edit/<%= id  %>" method="POST">
            <div class="edit-post__header">
              <div class="edit-post__title">
                發表文章：
              </div>
              <a href="/" class="edit-post__btn">返回</a>
            </div>
            <div class="edit-post__input-wrapper">
              <input class="edit-post__input" value="<%= content.title %>" name="title"/>
            </div>
            <div class="edit-post__input-wrapper">
              <textarea rows="20" class="edit-post__content" name="content"><%= content.content %></textarea>
            </div>
            <% if(errorMessage) { %>
              <div class='error'><%= errorMessage %></div>
            <% } %>
            <input type='submit' class="edit-post__btn" value="送出"></input>
          </form>
      </div>
    </div>
  </div>
  <%- include('../template/footer') %>
</body>
</html>