<!DOCTYPE html>

<html>
<head>
  <%- include('../template/head') %>
</head>

<body>
  <nav class="navbar">
    <%- include('../template/nav') %>
  </nav>
  <section class="banner">
    <%- include('../template/section')%>
  </section>
  <div class="container-wrapper">
    <div class="posts">
      <article class="post">
        <div class="post__header">
          <div><%= comment.title %></div>
          <div class="post__actions">
            <a class="post__action" href="/">返回首頁</a>
            <% if(userId) { %>
              <a class="post__action" href="/edit/<%= comment.id %>">編輯</a>
            <% } %>
          </div>
        </div>
        <div class="post__info">
          <%= comment.createdAt.toLocaleString('zh-TW') %>
        </div>
        <div class="post__content">
          <%= comment.content %>
        </div>
      </article>
    </div>
  </div>
  <%- include('../template/footer') %>
</body>
</html>